@section header{
<style type="text/css" media="screen">
    #code { 
        position: absolute;
        top: 62px;
        bottom: 60px;
        left: 0;
        margin-top: -19px;
        margin-left: -20px;
    }

    #chart {
        position:absolute;
        top: 62px;
        right: 0px;
        left: auto;
    }
</style>

<script type="text/javascript">
    var urlDrawChart = "@Url.Action("CreateChart", "Chart")";

</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/chartmodel.js")"></script>
}

<div class="row" data-bind="with: CodeSample">
    <div class="span9" id="code" data-bind="code: Code">
    </div>

    <div id="chart">
        <img id="img-chart" />
    </div>

</div>


